colourBlind-android/bin/*
colourBlind-android/bin
colourBlind-desktop/bin/*
colourBlind-desktop/bin
colourBlind-android/gen/*
colourBlind-android/gen
colourBlind/bin/*
colourBlind/.settings
colourBlind/.settings/*
temp.jar